{
    "mqtt_host": "localhost",
    "mqtt_port": "1883",
    "mqtt_keepalive": "30",
    "mqtt_clientid": "mypv2mqtt",
    "mqtt_user": "user",
    "mqtt_password": "password",
    "mqtt_topic": "bus/devices/MYDEVICE",
    "mqtt_tls": "false",
    "mqtt_tls_version": "TLSv1.2",
    "mqtt_verify_mode": "CERT_REQUIRED",
    "mqtt_ssl_ca_path": "/etc/ssl/myca.pem",
    "mqtt_tls_no_verify": "false",
    "api_url": "http://myp-pv/data.jsn?ip=192.168.1.1",
    "poll_interval": "10",
    "timestamp": "false",
    "verbose": "false",
    "log_level": "INFO"
}
